<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agencia Luzny</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href='/public/css/body.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/public/css/client.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/public/css/user.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/public/css/cars.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/public/css/rent.css'>
    