{% block navbar %}

<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io" target="_blank">
      <img src={{ logo }} width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="http://localhost:8080" class="navbar-item">
        Home
      </a>

      <a href="http://localhost:8080/agency/create/client" class="navbar-item">
        Add Client
      </a>

      {% if user %}
      

      <a href="http://localhost:8080/agency/reserve/list" class="navbar-item">
        Mis vehículos
      </a>
      

      <a href="http://localhost:8080/agency/rent/car/list" class="navbar-item">
        Reservar Vehículo
      </a>

      <a href="http://localhost:8080/agency/staff/reserve/cancel" class="navbar-item">
        Cancelar Reserva
      </a>
      {% endif %}      

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a href={{ github }} target="_blank" class="navbar-item">
            Github
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
          <hr class="navbar-divider">
          <a href="http://localhost:8080/agency/create/car" class="navbar-item">
            Crear Vehículo
          </a>
          <hr class="navbar-divider">
          <a href="http://localhost:8080/agency/car/list" class="navbar-item">
            Lista de vehículos
          </a>
        </div>
      </div>
    </div>

    {% if user %}

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="welcome-message">
          <h1 class="title-strong-color white is-5">¡Bienvenido, {{user.email}}!</div>
        </div>
        <div class="buttons">
          <a href="http://localhost:8080/agency/profile" class="button is-dark">
            <strong>Perfil</strong>
          </a>
          <a href="http://localhost:8080/agency/logout" class="button is-dark">
            Salir
          </a>
        </div>
      </div>
    </div>

    {%else%}
        <div class="navbar-end">
        <div class="navbar-item">
        <div class="buttons">
          <a href="http://localhost:8080/agency/signup" class="button is-dark">
            <strong>Registrarse</strong>
          </a>
          <a href="http://localhost:8080/agency/login" class="button is-dark">
            Iniciar Sesión
          </a>
        </div>
      </div>
    </div>
    {% endif %}
    
  </div>
</nav>     

{% endblock %}
