.rent-options {
    height: 970px;
    width: 1200px;
    margin-top: 2em;
}

.dates {
    margin-top: 2em;
    padding-bottom: 25px;
}

.take-day {
    padding-right: 5em;
}

.fl {
    position: absolute;
    top: 30px;
    left: 250px;
}

.content ul {
    padding-top: 1em;
    margin-left: 4em;
}

.clients {
    padding-bottom: 25px;
}

.fl2 {
    position: absolute;
    top: 30px;
    left: 400px;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.car-info {
    position: relative;
    padding-bottom: 25px;
}

.final-cost {
    width: 20%;
}

.title-block {
    line-height: 24px;
    text-transform: uppercase;
    padding: 10px 70px 10px 20px;
    overflow: visible;
    position: relative;
    color: #ffffff;
    background-color: red;
}

.confirmation-options {
    margin-top: 2em;
    
}

.hidden-div {
    display: none;
}
