{% extends "../../views/layout/template.njk" %}

{% block contenido %}
    {% set car = data.car %}
    {% set reserve = data.reserve %}

    {# NAVBAR #}
    {% include "../../views/layout/navbar.njk" %}
    {# NAVBAR #}

    <div class="container">
        <div class="rent-options">
            <form id="form" action="/agency/rent/car/{{car.id *or* reserve.Car.id}}" method="POST">
                <input type="hidden" name="car_id" value={{car.id}} readonly/>

                <div class="content">
                    <div class"rent-options">

                        <div class="container">

                            {% include "./rentInfo/car.njk" %}

                            {% include "./rentInfo/clients.njk" %}

                            {% include "./rentInfo/dates.njk" %}

                            {% include "./rentInfo/finalCost.njk" %}

                        </div>

                    </div>

                </form>
            </div>
        </div>
        <script src="/public/scripts/costCalculatorButton.js"></script>
        <script src="/public/scripts/validations.js"></script>
    {% endblock %}