{% extends "../../views/layout/template.njk" %}

{% block contenido %}
    {% set car = data.car %}

    {# NAVBAR #}
    {% include "../../views/layout/navbar.njk" %}
    {# NAVBAR #}

    <div class="container">
        <div class="rent-options">
            <form action="/agency/rent/car/{{car.id}}" method="POST"
                <input type="hidden"readonly/>
                <input type="hidden" name="user-id" id="user-id" value="{{user.id}}"/>
           
                <input type="hidden" name="car-id" value={{car.id}} readonly/>

                <h3 class="title is-5 title-block">Vehiculo</h3>
                <div>
                    <img src="/{{car.imageUrl}}" width="256" height="256"/>
                    <input type="hidden" name="car-image" value="{{car.imageUrl}}" readonly/>
                </div>
                <h3 class="title is-5 title-block">Selecciona la fecha</h3>

                <div>
                    <p>Fecha de salida</p>
                    <input type="date" id="take-day" name="take-day" min={{ currentDate }} value={{ currentDate }}>
                    <p>Fecha de devolución</p>
                    <input type="date" id="return-day" name="return-day" min={{ currentDate }} value={{ currentDate }}>
                    <button type="button" id="cost-calculator">Calcular Costo</button>
                    <h3 class="title is-5 title-block">Costo final</h3>
                    <p>Cost: </p>
                    <input type="text" id="rent-cost"  name="cost" value={{car.cost}} readonly>
                </div>

                <div class="confirmation-options">
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link">Submit</button>
                        </div>
                        <div class="control">
                            <button class="button is-link is-light">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="/public/scripts/costCalculatorButton.js"></script>
{% endblock %}