{% extends "../../views/layout/template.njk" %}

{% block contenido %}
    {% set car = data.car %}
    {% set reserve = data.reserve %}

    {# NAVBAR #}
    {% include "../../views/layout/navbar.njk" %}
    {# NAVBAR #}

    <div class="container form-rent-container">
        <div class="rent-options">
            <form id="form" action="/agency/rent/car/{% if car %}{{car.id}}{% else %}{{reserve.Car.id}}{% endif %}" method="POST">
                <input type="hidden" name="car_id" value={% if car %}{{car.id}}{% else %}{{reserve.Car.id}}{% endif %} readonly/>

                <div class="content">
                    <div class"rent-options">

                        <div class="container">

                            {% include "./rentInfo/car.njk" %}

                            {% if car %}
                                {% include "./rentInfo/clients.njk" %}
                            {% else %}
                                <input type="hidden" name="client_id" value={{reserve.Client.id}}>
                                <input type="hidden" name="id" value={{reserve.id}}>
                            {% endif %}

                            {% include "./rentInfo/dates.njk" %}

                            {% include "./rentInfo/payment.njk" %}

                            {% include "./rentInfo/finalCost.njk" %}

                        </div>

                    </div>

                </form>
            </div>
        </div>
        <script src="/public/scripts/costCalculatorButton.js"></script>
        <script src="/public/scripts/validations.js"></script>
        <script src="/public/scripts/creditCard.js"></script>
    {% endblock %}