{% extends "./layout/template.njk" %}

{% block contenido %}
    {% include "./layout/navbar.njk" %}
    <div class="container">

        {% for error in errors %}

            <div class="notification is-danger">
                {{error}}
            </div>
        {% endfor %}

        {% for message in messages %}
            <div class="container success-message-container">
                <div class="box notification is-success success-message">
                    {{message}}
                </div>
            </div>
        {% endfor %}

        <img src="/public/logo/logo-rent.png"/>
    </div>

{% endblock %}