{% block finalcost %}
    <div class="box container">
        <div class="final-cost">
            <h3>Final Cost</h3>
            <input class="input" type="number" id="rent-cost"  name="final-cost" value={% if car %}{{car.cost}}{% else %}{{reserve.finalCost}}{% endif %} readonly>
            <input type="hidden" name="payment" value='Cash' readonly/>
            <input type="hidden" name="status" value='No' readonly/>
        </div>

        <div class="confirmation-options">
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Submit</button>
                </div>
                <div class="control">
                    <button class="button is-link is-light">Cancel</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}