{% extends "../../views/layout/template.njk" %}

{% block contenido %}
    {% set car = data.car %}

    {# NAVBAR #}
    {% include "../../views/layout/navbar.njk" %}
    {# NAVBAR #}

    {# FONDO #}
    <div class="contain">

        <div class="box cuadro-opciones-form">
            <form action="/agency/create/car" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="id" value="{{car.id}}" readonly/>
                <div class="field">
                    <label class="label">Brand</label>
                    <div class="control">
                        <input class="input" type="text" name="brand" placeholder="Fiat" value="{{car.brand}}">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Model</label>
                    <div class="control">
                        <input class="input" type="text" name="model" placeholder="Duna" value="{{car.model}}">
                    </div>
                </div>
                <label class="label">Car Picture</label>
                <div class="file has-name is-fullwidth">
                    <label id="file-upload" class="file-label">
                        <input id="file-input" class="file-input" type="file" name="image-url">
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">
                                 Upload a picture of the car
                            </span>
                        </span>
                        <span id="file-name" class="file-name">
                            File...
                        </span>
                    </label>
                </div>
                <br>
                <div class="field">
                    <label class="label">Year Manufactured</label>
                    <div class="control">
                        <input class="input" type="number" name="year-manufactured" placeholder="1994" value="{{car.yearManufactured}}">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Kilometers</label>
                    <div class="control">
                        <input class="input" type="number" name="kms" placeholder="150000" value="{{car.kms}}">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Color</label>
                    <div class="control">
                        <input class="input" type="text" name="color" placeholder="Red" value="{{car.color}}">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Air Conditioner</label>
                    <div class="control">
                        <div class="select">
                            <select name="air-conditioner" value="{{car.airConditioner}}">
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Passengers/Doors</label>
                    <div class="control">
                        <input class="input" type="number" name="passengers" placeholder="4" value="{{car.passengers}}">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Transmission</label>
                    <div class="control">
                        <input class="input" type="text" name="transmission" placeholder="Manual, Automatic, etc" value="{{car.transmission}}">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Cost</label>
                    <div class="control">
                        <input class="input" type="text" name="cost" placeholder="20000" value="{{car.cost}}">
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link">Submit</button>
                    </div>
                    <div class="control">
                        <button class="button is-link is-light">Cancel</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
    {# FONDO #}
    <script src="/public/scripts/fileName.js"></script>

{% endblock %}