{% extends "../../views/layout/template.njk" %}

{% block contenido %}

  {# NAVBAR #}
  {% include "../../views/layout/navbar.njk" %}
  {# NAVBAR #}

  <div class="container container-lista-vehiculo">

    {% for error in errors %}
      <div class="notification is-danger">
        {{error}}
      </div>
    {% endfor %}

    {% for message in messages %}
      <div class="container success-message-container">
        <div class="box notification is-success success-message">
          {{message}}
        </div>
      </div>
    {% endfor %}
    <div class="lista-vehiculos">
      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">

        <thead>
          <tr>
            <th>
              <abbr title="Actions">Actions</abbr>
            </th>
            <th>
              <abbr title="Id">Id</abbr>
            </th>
            <th>Image</th>
            <th>
              <abbr title="Brand">Brand</abbr>
            </th>
            <th>
              <abbr title="Model">Model</abbr>
            </th>
            <th>
              <abbr title="Year">Year</abbr>
            </th>
            <th>
              <abbr title="Kilometers">Kms</abbr>
            </th>
            <th>
              <abbr title="Colors">Colors</abbr>
            </th>
            <th>
              <abbr title="AirConditioner">AC</abbr>
            </th>
            <th>
              <abbr title="Passengers">Pass</abbr>
            </th>
            <th>
              <abbr title="Transmission">Trans</abbr>
            </th>
            <th>
              <abbr title="Cost">Cost</abbr>
            </th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>
              <abbr title="Actions">Actions</abbr>
            </th>
            <th>
              <abbr title="Id">Id</abbr>
            </th>
            <th>Image</th>
            <th>
              <abbr title="Brand">Brand</abbr>
            </th>
            <th>
              <abbr title="Model">Model</abbr>
            </th>
            <th>
              <abbr title="Year">Year</abbr>
            </th>
            <th>
              <abbr title="Kilometers">Kms</abbr>
            </th>
            <th>
              <abbr title="Colors">Colors</abbr>
            </th>
            <th>
              <abbr title="AirConditioner">AC</abbr>
            </th>
            <th>
              <abbr title="Passengers">Pass</abbr>
            </th>
            <th>
              <abbr title="Transmission">Trans</abbr>
            </th>
            <th>
              <abbr title="Cost">Cost</abbr>
            </th>
          </tr>
        </tfoot>
        <tbody>
          {%for car in data.car%}
            <tr>
              {% if data.reserve %}
                <td>
                  <br>
                  <a href="http://localhost:8080/agency/rent/car/{{car.id}}">Rent!</a>
                </td>
              {% else %}
                <td>
                  <br>
                  <a href="/agency/view/car/{{car.id}}">View</a>
                  <br>
                  <a href="/agency/delete/car/{{car.id}}">Delete</a>
                </td>
              {% endif %}
              <th>{{car.id}}</th>
              <td><img src="\{{car.imageUrl}}" width="150" height="250"/></td>
              <td>{{car.brand}}</td>
              <td>{{car.model}}</td>
              <td>{{car.yearManufactured}}</td>
              <td>{{car.kms}}</td>
              <td>{{car.color}}</td>
              <td>{{car.airConditioner}}</td>
              <td>{{car.passengers}}</td>
              <td>{{car.transmission}}</td>
              <td>{{car.cost}}</td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock %}